@inject IStringLocalizer<App> L

@if (Options.Loading)
{
    <div class="alert alert-warning">
        <i class="spinner-border spinner-border-sm"></i> @L["Loading"]
    </div>
}
else if (Options.NoData)
{
    <div class="alert alert-primary">
        <i class="fas fa-exclamation-triangle"></i> @L["NoData"]
    </div>
}

@code {
    [Parameter] public VisibilityOptions Options { get; set; }
}